
Redirect 301 /NSCFwxgather /trail-temperatures/
Redirect 301 /NSCFwxgather/ /trail-temperatures/
Redirect 301 /NSCFwxgather/demo.html /trail-temperatures/
Redirect 301 /NSCFwxgather/index.html /trail-temperatures/

Redirect 301 /NSCFwxgather/airport.php /trail-temperatures/airport.php
Redirect 301 /NSCFwxgather/birchhill.php /trail-temperatures/birchhill.php
Redirect 301 /NSCFwxgather/ftwainwright.php /trail-temperatures/ftwainwright.php
Redirect 301 /NSCFwxgather/goldstream.php /trail-temperatures/goldstream.php
Redirect 301 /NSCFwxgather/uaf.php /trail-temperatures/uaf.php
